@using turno_smart.ViewModels.ProfesionalVM
@model ProfesionalVM

<h1>@Model.Nombre</h1>
<p>Especialidad: @Model.Especialidad</p>
<p>Horario de atención: @Model.HorarioAtencion</p>
<p>Dirección: @Model.Direccion</p>
<p>Teléfono: @Model.Telefono</p>
<p>Email: @Model.Email</p>
