@model PacienteVM
@{
    Layout = null;
}

<div class="modal-header">
    <div class="modal-title h4" id="modal-details-label">Detalles del Paciente</del></div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
        <dl class="row">
            <dt class="col-sm-4">Nombre</dt>
            <dd class="col-sm-8">@Model.Nombre</dd>

            <dt class="col-sm-4">Apellido</dt>
            <dd class="col-sm-8">@Model.Apellido</dd>

            <dt class="col-sm-4">DNI</dt>
            <dd class="col-sm-8">@Model.Dni</dd>

            <dt class="col-sm-4">Teléfono</dt>
            <dd class="col-sm-8">@Model.Telefono</dd>

            <dt class="col-sm-4">Fecha de Nacimiento</dt>
            <dd class="col-sm-8">@Model.FechaNacimiento.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-4">Domicilio</dt>
            <dd class="col-sm-8">@Model.Domicilio</dd>

            <dt class="col-sm-4">Ciudad</dt>
            <dd class="col-sm-8">@Model.Ciudad</dd>

            <dt class="col-sm-4">Provincia</dt>
            <dd class="col-sm-8">@Model.Provincia</dd>

            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>

            @* <dt class="col-sm-4">Cobertura</dt>
            <dd class="col-sm-8">
                @if (Model.Cobertura == 0) {
                    <span class="badge bg-danger">No</span>
                } else {
                    <span class="badge bg-success">Sí</span>
                }
            </dd> *@

            <dt class="col-sm-4">Estado</dt>
            <dd class="col-sm-8">
                @if (Model.Estado == 0) {
                    <span class="badge bg-danger">Inactivo</span>
                } else {
                    <span class="badge bg-success">Activo</span>
                }
            </dd>

            <dt class="col-sm-4">Fecha de Alta</dt>
            <dd class="col-sm-8">@Model.FechaAlta.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-4">Fecha de Baja</dt>
            <dd class="col-sm-8">@Model.FechaBaja?.ToString("dd/MM/yyyy")</dd>


        </dl>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
</div>