@model List<turno_smart.ViewModels.PacienteVM.PacienteViewModel>

@{
    ViewData["Title"] = "Resultados de Búsqueda";
}

<h2>Resultados de Búsqueda</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre Completo</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Teléfono</th>
            <!-- Agregar más columnas si es necesario -->
        </tr>
    </thead>
    <tbody>
        @foreach (var paciente in Model)
        {
            <tr>
                <td>@paciente.Id</td>
                <td>@paciente.NombreCompleto</td>
                <td>@paciente.Dni</td>
                <td>@paciente.Email</td>
                <td>@paciente.Telefono</td>
            </tr>
        }
    </tbody>
</table>