@model ListTurnosVM

<h1 class="display-4 text-center mb-2">Mis Turnos</h1>
<p class="text-center text-muted mb-5">
    Accedé a tus próximos turnos, modificalos, o cancelalos en el momento.
</p>

<div class="row g-4">
    @if (Model.Turnos.Any())
    {
        @foreach (var turno in Model.Turnos)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card border-0 shadow-sm bg-white">
                    <div class="card-header bg-primary text-white py-3 position-relative">
                        <h5 class="mb-0">
                            Atención Médica
                        </h5>
                        <button class="btn btn-link position-absolute top-0 end-0 p-3" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                data-id="@turno.TurnoId" data-especialidad="@turno.MedicoEspecialidad" data-fecha="@turno.Fecha.ToString(@"dd/MM/yyyy")" data-hora="@turno.Hora.ToString(@"hh\:mm")">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x "><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg>
                        </button>
                    </div>

                    <div class="card-body p-4">
                        <div class="mb-3">
                            <span class="badge @(turno.Estado == "CONFIRMADO" ? "bg-success" : "bg-warning")">
                                @(turno.Estado == "CONFIRMADO" ? "Confirmado" : "Reservado")
                            </span>
                        </div>

                        <p class="mb-2">
                            <span class="fw-medium">Especialidad: </span>
                            <span class="text-primary">@turno.MedicoEspecialidad</span>
                        </p>
                        <p class="mb-2">
                            <span class="fw-medium">Doctor/a: </span>
                            <span class="text-primary">@turno.MedicoNombre</span>
                        </p>

                        <p class="mb-2">
                            <span class="fw-medium">Fecha: </span>
                            @turno.Fecha.ToString(@"dd/MM/yyyy")
                        </p>

                        <p class="mb-2">
                            <span class="fw-medium">Hora: </span>
                            @turno.Hora.ToString(@"hh\:mm") hs
                        </p>

                        <p class="mb-2">
                            <span class="fw-medium">Dirección: </span>
                            Calle Falsa 1234
                        </p>

                        <p class="mb-2">
                            <span class="fw-medium">Motivo de la consulta: </span>
                            @turno.MotivoConsulta
                        </p>

                        <button class="btn btn-primary w-100 mt-3"
                                onClick="">
                            Modificar
                        </button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-12 text-center text-muted">
            No hay turnos programados
        </div>
    }

</div>

<!-- Modal de Eliminacion -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Cancelar Turno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro que deseas cancelar tu turno para <span id="especialidad"></span>?</p>
                <p class="text-muted mb-0">Fecha: <span id="fecha"> hs</p>
            </div>
            <div class="modal-footer">
                <form method="post" asp-action="DeleteConfirmed" asp-controller="Turno">
                    <input type="hidden" name="id" id="turnoId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', (event) => {
            const button = event.relatedTarget; // Botón que abrió el modal

            // Obtener los datos del botón
            const turnoId = button.getAttribute('data-id');
            const especialidad = button.getAttribute('data-especialidad');
            const fecha = button.getAttribute('data-fecha');
            const hora = button.getAttribute('data-hora');

            // Actualizar el contenido del modal
            document.getElementById('turnoId').value = turnoId;
            document.getElementById('fecha').textContent = `${fecha} - ${hora}`;
            document.getElementById('especialidad').textContent = especialidad;
        });
    });
</script>
